<div>
    <div>
        <button (click)="login()" [disabled]="globalSvc.getLoggedOn()">Login</button>
    </div>
    <div>
        <button (click)="logout()" [disabled]="!globalSvc.getLoggedOn()">Logout</button>
    </div>
</div>
<div>
    <b>Username: </b> {{ username }}
    <br>
    <strong *ngIf="username != null"><em>Check console for output after accessing API</em></strong>
</div>
<div>
    <button (click)="callAPIWithToken()">Call API</button>
</div>
<hr>
<div>
    <app-home></app-home>
</div>